<!DOCTYPE HTML>

<html>
	<head>
		<title>Cancer Detection</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Cancer Detection And Segmentation</h1>
								<p>Cancer is the name given to a collection of related diseases. In all types of cancer, some of the body’s cells begin to divide without stopping and spread into surrounding tissues.
                                   Cancer can start almost anywhere in the human body, which is made up of trillions of cells.In this project, we will upload an image and try to find out weather the given image contain any cancerours cells using deep learning. </p>
							</div>
						</div>
						<nav>
							<ul>
								
								<li><a href="/test">DEMO</a></li>
								<li><a href="#model">MODEL DIS</a></li>
								
								
							</ul>
						</nav>
					</header>

				<!-- Main -->
				<div id="main">
					<!-- Work -->
					<article id="model">
						<h2 class="major">Work</h2>
						<span class="image main"><img src="{{ url_for('static', filename='images/pic01.jpg') }}">
</span>
						<p>Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.</p>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
						<center><embed type="text/html" src="https://slicedrop.com/"  width="550" height="300"></center>

					</article>

				</div>
	

					

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright"> Team 8</p> AKASH KALLUVILAYIL VENUGOPALAN, SREEDEV D, VISHNU MOHAN</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script type=text/javascript src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script type=text/javascript src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script type=text/javascript src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script type=text/javascript src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>

			
	</body>
</html>
